<img class="logo" src="./assets/icons/icon.svg" alt="logo">
<div>
  <span mat-dialog-title class="app-name">Pomodoro</span>
  <mat-dialog-content class="content">
    <div>
      <div>Version {{version}}</div>
      <div>&copy; 2020 Calvin Ling</div>

      <div>
        Distributed under the
        <a class="license-link" routerLink="/license">MIT license</a>.
      </div>

      <div>
        <a class="license-link" routerLink="./third-party-licenses">Third-party
          licenses</a>
      </div>

    </div>
  </mat-dialog-content>
</div>
