<mat-toolbar color="primary">
  <a routerLink="/" mat-icon-button>
    <mat-icon>arrow_back</mat-icon>
  </a>
  <span>Settings</span>
</mat-toolbar>

<mat-list>
  <div matSubheader>Notifications</div>
  <mat-list-item>
    Enable notifications
    <span class="spacer"></span>
    <mat-slide-toggle [checked]="notificationsEnabled"
      (change)="handleNotificationToggle($event)"></mat-slide-toggle>
  </mat-list-item>

  <mat-list-item>
    Show notifications only if hidden
    <span class="spacer"></span>
    <mat-slide-toggle [formControl]="onlyShowNotificationsIfHiddenCtrl">
    </mat-slide-toggle>
  </mat-list-item>

  <mat-divider></mat-divider>

  <div matSubheader>Intervals</div>

  <mat-list-item>
    <span>Work session length</span>
    <span class="spacer"></span>
    <mat-form-field color="accent">
      <input matInput type="number" min="0" [max]="maxTime"
        [formControl]="workSessionLengthCtrl">
      <mat-hint>Minutes</mat-hint>
    </mat-form-field>
  </mat-list-item>

  <mat-list-item>
    <span>Short break length</span>
    <span class="spacer"></span>
    <mat-form-field color="accent">
      <input matInput type="number" min="0" [max]="maxTime"
        [formControl]="shortBreakLengthCtrl">
      <mat-hint>Minutes</mat-hint>
    </mat-form-field>
  </mat-list-item>

  <mat-list-item>
    <span>Long break length</span>
    <span class="spacer"></span>
    <mat-form-field color="accent">
      <input matInput type="number" min="0" [max]="maxTime"
        [formControl]="longBreakLengthCtrl">
      <mat-hint>Minutes</mat-hint>
    </mat-form-field>
  </mat-list-item>
</mat-list>
